@import "tailwindcss";

@font-face {
  font-family: 'Tanker';
  src: url('/fonts/Tanker-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.menu{
    display:none;
}
.nav{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.nav::after{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #AB2346;
    bottom:-100%;
    left:0;
    transition: bottom 0.3s ease-in-out;
    z-index: -1;
    
}

.nav:hover::after{
    bottom: 0;
}



strong{
    color:#222222;
}
